body {
    /* background-color: black; */
    background: linear-gradient(black, #273447);
    color: white;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    overflow-x: hidden;
}

header {
    /* background-color: #B943F1; */
    background-image: url("../blockchainimages/Blockchain_Grid.jpg");
    /* text-align: center; */
    padding: 400px 100px;
    background-size: 130%;
    background-position: center;
    background-repeat: no-repeat;
}

.center {
    text-align: center;
}

h2 {
    font-size: 80px;
    text-align: center;
    color: #18E5AE;
}

ul {
    list-style-type: none;
}

section {
    /* background-color: red; */
    /* background: linear-gradient(gray, rgba(73, 67, 70, 0.871) ); */
    margin: 200px 100px;
    /* border-radius: 50px; */
    /* border-style: solid; */
    /* border-color: #ffffff; */
    /* height: 600px; */
}

.blockchain-explain.text {
    /* background-color: red; */
    text-align: center;
}

.blockchain-explain.benefits {
    text-align: center;
}

.image-div {
    display: flex;
}

.image-div figure {
    /* background-color: red; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

/* .center {
    text-align: center;
} */

img {
    width: 300px;
    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}


.collapsible {
    background: linear-gradient(to right,#9f5de4, #8774dc);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    box-shadow: black 10px 10px 10px 1px;
  }
  
  .active, .collapsible:hover {
    background: white;
    color: black;
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: transparent;
    box-shadow: black 5px 5px 10px 10px;
  }

  .crypto-title {
    margin-bottom: auto;
  }

  .flex {
    display: flex;
    justify-content: space-around;
  }

  .coin {
    margin-bottom: 60px;
    /* background-color: red; */
    text-align: center;
  }

