body {
    /* background-color: black; */
    background: linear-gradient(black, #273447);
    color: white;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
}

header {
    /* background-color: #B943F1; */
    background-image: url("../blockchainimages/Blockchain_Grid.jpg");
    /* text-align: center; */
    padding: 400px 100px;
    background-size: 130%;
    background-position: center;
    background-repeat: no-repeat;
}

h2 {
    font-size: 40px;
}

ul {
    list-style-type: none;
}

section {
    /* background-color: red; */
    /* background: linear-gradient(gray, rgba(73, 67, 70, 0.871) ); */
    margin: 200px 100px;
    /* border-radius: 50px; */
    /* border-style: solid; */
    /* border-color: #ffffff; */
    /* height: 600px; */
}

.blockchain-explain.text {
    /* background-color: red; */
    text-align: center;
}

.blockchain-explain.benefits {
    text-align: center;
}

.image-div {
    display: flex;
}

.image-div figure {
    /* background-color: red; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

/* .center {
    text-align: center;
} */

img {
    width: 300px;
    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}