body {
    background-color: black;
    color: white;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #B943F1;
    text-align: center;
    padding: 5px 0px;
}

section {
    background-color: #18E5AE;
    margin: 10px 100px;
    border-radius: 50px;
}

.blockchain-explain.text {
    /* background-color: red; */
    text-align: center;
}

.blockchain-explain.reason {
    text-align: center;
}

.image-div {
    display: flex;
}

.image-div figure {
    /* background-color: red; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.center {
    text-align: center;
}

img {
    width: 300px;
    border-radius: 10px;
}