
.bottom-pics{
    display:flex;
    justify-content: space-around;
    padding: 20px;
}

.bottom-pics img{
    width: 350px;
    height: 350px;
}
.bottom-pics h2{
    text-align: center;
    background: linear-gradient(to right,#19e5af, #6992ce);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text; 
}
.BIGGG{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.used-in{
    border-radius:25px;
    overflow:hidden;
    position: relative;
    width: 600px;
    height: 300px;
    border: 2px solid rgb(108, 29, 137);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
.img{
    display: block;
    width:100%;
    height:100%;
}

.img_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s ease;
}

.img_overlay:hover{
    opacity: 1;
}
.image_overlay--blur{
    backdrop-filter: blur(25px);
}
.img_overlay > *{
    transform: translateY(20px);
    transition: transform 0.25s;
}

.img_overlay:hover > *{
    transform: translateY(0);
}
.img_title{
    font-size: 2em;
    font-weight: bold;
}

.img_desc{
    font-size: 1.25em;
    margin-top: 0.25em;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
}


.used-in-box img{
    width: 600px;
    height: 300px;
}