html, body{
    height: 100%;
    margin: 0;
    background: radial-gradient(black, #18202c);
    overflow-x: hidden;
    max-width: 100%;
}

.Demo-Title{
    background: linear-gradient(to right,#ed8be0, #370245);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text; 

}