html, body{
    height: 100%;
    margin: 0;
    background: radial-gradient(black, #010001);
    overflow-x: hidden;
    max-width: 100%;
    font-family: sans-serif;
}
section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 90vh;
}
#title-text {
    font-size: 80px;
    background-image: linear-gradient(60deg, #6893CE, #B943F1);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: white; 
}

.sect-1{
    display: flex;
    align-items: center;
    padding: 25px;
}

.sect-1 img{
    float: right;
    max-width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.intro-p{
    color:white;
    flex: 1;
    padding-right: 20px;
    margin-top: -90px;
}
.intro-p p{
    text-align: center;
    font-size: 20px;
}

