.entire-collapsible{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  flex-direction: column;
}
.collapsible {
  display: flex;
  margin: 25px;
  background-color: #000000; /* Color for the collapsible button */
  color: white;
  cursor: pointer;
  padding: 18px;
  border: 2px solid white;
  border-radius: 25px;
  text-align: center;
  outline: none;
  font-size: 16px;
  transition: background-color 0.25s ease, color 0.25s ease;
}

.collapsible:hover {
  color: black;
  background-color: white;
}

.collapsible-content {
  max-height: 0; /* Set initial max-height to 0 for collapse effect */
  overflow-y: auto;
  display: block;
  transition: max-height 0.3s ease-out; /* Animation for the collapsible content */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent; /* For Firefox */
  text-align: center;
}

/* Style the scrollbar for WebKit browsers (like Chrome, Safari) */
.collapsible-content::-webkit-scrollbar {
  width: 0;
}

/* Style the scrollbar track and thumb for WebKit browsers */
.collapsible-content::-webkit-scrollbar-track {
  background: transparent;
}

.collapsible-content::-webkit-scrollbar-thumb {
  background: transparent;
}

.collapsible-content img {
  margin: 20px auto;
  border: 2px solid white;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  padding: 20px;
  height: auto;
  display: block;
  margin-bottom: 10px;
}


.collapsible-content p {
  padding: 20px;
  color: white;
  font-size: 25px;
}