
.navbar{
    background-color: black;
    top: 0;
    width: 100%;
    height: 65px;
    padding: 0px 5px;
    border-bottom: 1px solid #333333;
    position: sticky;
    font-family: Tahoma, sans-serif;
    z-index: 1;
}

.navbar #homebut {
    padding-left: 10%;
    font-weight: 700;
}

#navbar-right {
    float: right;
    padding-right: 10%;
}

.navbar a {
    float: left;
    display: block;
    font-size: 18px;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 12px 24px;
    line-height: 40px;
}

.navbar a:hover{
    color: #B943F1
    /* color: #18E583; */
}




.dropdown { /*includes blockchains*/
    float: left;
    position: relative;
}
.dropdown-content { /*doesn't include blockchains, groups the dropdown items*/
    display: none;
    position: absolute; /*relative or absolute??*/
    top: 65px;
    min-width: 135px;
    z-index: 1; 
    box-shadow: 0px 8px 16px 0px rgba(50, 50, 50, 0.2);
    background-color: #010001;
    border-radius: 0px 0px 15px 15px; /*rounds the bottom 2 corners of dropdown*/
}
.dropdown-content a { /*individual dropdown items*/
    float: none;
    position: relative;
    color: white;
    text-decoration: none;
    text-align: left;
}
  /* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    color: #6893CE;
}
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
 }