.radio-buttons {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    margin: 0px 40px 40px 10px;
}

.Quiz {
    /* background-color: red; */
    margin: 200px 100px;
    border-style: solid;
    color: white;
    border-radius: 50px;
    box-shadow: black 15px 15px 20px 20px;
    font-family: 'Courier New', Courier, monospace;
}

.quiz-choices {
    margin-left: 8%;
    /* background-color: rgb(243, 94, 94); */
}

.question-text {
    margin-left: 5%;
}

.quiz-title {
    text-align: center;
    font-size: 80px;
    margin-top: 10px;
    margin-bottom: 0%;
}

input {
    appearance: none;
}

.choice-text {
    appearance: none;
    /* background-color: red; */
    border: 3px solid white;
    width: 300px;
    text-align: center;
    margin-bottom: 10px;
}


.quiz-choices :hover {
    background-color: rgb(201, 191, 191);
    color: black;
}
