.radio-buttons {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    margin: 0px 40px 40px 10px;
}

.Quiz {
    /* background-color: red; */
    border-style: solid;
    border-radius: 50px;
}

.quiz-choices {
    margin-left: 8%;
    /* background-color: red; */
}

.question-text {
    margin-left: 5%;
}

.quiz-title {
    text-align: center;
    font-size: 80px;
    margin-top: 10px;
    margin-bottom: 0%;
}




