.radio-buttons {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    margin: 0px 40px 40px 10px;
}

.Quiz {
    /* background-color: red; */
    border-style: solid;
    border-radius: 50px;
    box-shadow: black 15px 15px 20px 20px;
}

.quiz-choices {
    margin-left: 8%;
    /* background-color: rgb(243, 94, 94); */
}

.question-text {
    margin-left: 5%;
}

.quiz-title {
    text-align: center;
    font-size: 80px;
    margin-top: 10px;
    margin-bottom: 0%;
}

input {
    appearance: none;
}

.choice-text {
    appearance: none;
    border: 2px solid white;
    width: 300px;
    text-align: center;
    margin-bottom: 10px;
}

.abc{
    width: 100%;
    height: 100%;
}
