#status_p {
    color: #ffffff; /* text color */
    background-color: #ff1a1a; /* background color */
    border: 1px solid #3a47ff; /* border color */
    padding: 10px; /* space inside the element */
    margin: 10px 0; /* space outside the element */
    font-family: 'Courier New', Courier, monospace; /* font family */
    font-size: 16px; /* font size */
}