html, body{
    height: 100%;
    margin: 0;
    background: radial-gradient(black, #18202c);
    overflow-x: hidden;
    max-width: 100%;
}

.description-box{
    width: 70%;
    height: 350px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.description{
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.description h1{
    font-size: 50px
}
.description p{
    font-size: 25px;
}