html, body{
    height: 100%;
    margin: 0;
    background: radial-gradient(black, #181818);
    overflow-x: hidden;
    max-width: 100%;
    font-family: sans-serif;
}

.description-box{
    width: 70%;
    height: 350px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.description{
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.description h1{
    font-size: 50px
}
.description p{
    font-size: 25px;
}

.left-titles{
    margin: 50px;
    padding: 50px;
    font-size: 5em;
    font-style:  bold;
    background: linear-gradient(to right,#9f5de4, #8774dc);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text; 

}

.hr{
    height: 1px;
    border:none;
    background:linear-gradient(to right, black, #4ab2c2, black);
}

footer{
    padding: 40px 0;
    color: white;
    background: black;
}

footer li{
    padding-right: 50px;
    float: right;
    padding: 0 10px;
    list-style: none;
}

footer a{
    color: white;
}